*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    /* добавить font-family  */
    margin: 0;
}

.hero {
    height: 700px;
    /* можно обьединить эти три свойства в одно */
    /* background: url("images/banner.png") top right no-repeat; */
    background-image: url("images/banner.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: top right;
}



h1 {
    /* тут можно сократить написание margin */
    /* margin: 40px 0 10px; (top, left+right, bottom)*/ 
    margin: 40px 0px 10px 0px;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 48px;
    /* лучше будет использовать max-width */
    width: 554px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.divider {
    display: block;
    /* сократить написание свойства margin */
    margin: 0px 31px 0px 31px;
    height: 25px;
    width: 1px;
    background: #979797;
    flex: 0 0 1px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-list {
    display: flex;
    height: 82px;
    color: #a80bbd;
    list-style: none;
    padding: 10px 0;
    align-items: center;
    /* удалить font-family, font-style (normal это дефолтное значение) */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;

}

.menu-link {
    position: relative;
    text-decoration: none;
    /* тут можно просто задать margin-left */
    margin: 0px 0px 0px 20px;

}


.menu-link.active::after {
    content: "";
    margin-left: -4px;
    margin-top: 15px;
    position: absolute;
    top: 100%;
    left: 50%;
    border-radius: 50%;
    display: block;
    width: 9px;
    height: 9px;
    background: #a80bbd;
}

.menu-profile {
    display: flex;
    height: 82px;
    padding: 10px 0;
    list-style: none;
    /* дублированное свойство */
    height: 82px;
    padding: 10px 0;
    align-items: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;

}


.detail {
    background: #a80bbd;
    border-radius: 16px;
    height: 25px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    font-size: 16px !important;
    padding: 5px 12px;
}

.menu-link:hover {
    color: rgb(245, 8, 8);
    transition: 0.4s;
}

.subtitle {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    opacity: 0.54;
    width: 554px;
}

.market {
    margin: 35px 0px;
}

.market-apps {
    padding: 0px 10px;
}

.bot {
    display: flex;

}

.bot-posts {
    display: flex;
    max-width: 100%;
}

.bot-color {
    color: #00BCD4;
}

.bot-post {
    font-size: 28px;
    position: relative;
    /* можно сократить написание, не нужно писать 0px, просто 0 */
    padding: 0px 50px 0px 50px;
    /* баг с шириной контейнера, родителю задавать  max-width: 100%, потомку min-width: 0; сложно при использовании свойства text-overflow */
    min-width: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.bot-post:last-child {
    border-right: none;
}

.bot-post-title {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
}

.bot-post-text {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.87);
}

.text-overflow {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}

.bot-active .bot-post-title::before {
    content: "";
    border-radius: 50%;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #00BCD4;
    margin-right: 8px;
    margin-bottom: 1px;
}

.bot-active .bot-post-title {
    color: #00BCD4;
}

/* ///vtoroy block// */

/* удалить пустой селектор */
.jane-post {}

h2 {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    justify-content: center;
    display: flex;
}

.features {
    position: relative;

}

.features-item::after {
    content: "";
    position: absolute;
    top: 100%;
    border-radius: 17px;
    display: block;
    width: 81px;
    height: 12px;
    background: linear-gradient(169.02deg, #B2EBF2 -58.33%, #D1C4E9 60.57%);
}

.jane-post {
    display: flex;

}

.jane-titles {
    margin: 0 0 0 94px;
}

.jane-title {
    margin: 150px 0 0 0px;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    /* удалить комментарий */
    /* position: relative;
    padding-left: 33.5px; */
}

.jane-title::before {
    content: "";
    border-radius: 50%;
    display: inline-block;
    width: 17.5px;
    height: 17.5px;
    background: #00BCD4;
    margin-right: 16.5px;
    margin-bottom: 1px;
    /* удалить тут тоже */
    /* position: absolute;
    left: 0;
    top: 50%;
    margin-top: -7px; */
}

.jane-item {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    width: 595px;
    margin: 24px 0 0 0;
}

/* // третий блок// */

.vivamus {
    /* сократить до margin-top */
    margin: 81px 0 0 0;
    display: flex;
    justify-content: space-between;
    width: auto;
}

.vivamus-post {
    text-align: end;
    margin-left: 265px;
}

.vivamus-title {
    /* сократить написание свойства */
    margin: 150px 0 0 0;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
}

.vivamus-title::after {
    /* всегда лучше добавлять пробел между кавычек (старый баг) */
    content: "";
    border-radius: 50%;
    display: inline-block;
    width: 17.5px;
    height: 17.5px;
    background: #00BCD4;
    margin-left: 16.5px;
    margin-bottom: 1px;
}

.vivamus-img {
    margin-right: 350px;
}


/* //четвертый  блок// */

.artworks {
    background-image: url(images/mask.png);
    background-size: 100%;
    padding: 82px 0 0 0;
}

.artworks-posts {
    position: absolute;
}

.artwork-title {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
}

.artwork-post {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
}

.artwork-img {
    text-align: center;
}

.artworks-bot {
    justify-content: space-around;
    display: flex;
    text-align: center;
}

.followers {
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    width: 368px;
}

.follower {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    color: #006064;
    width: 250px;
    /* сократить свойство */
    margin: 0 0 0 70px;
}

.follower-bot {
    /* вот это не нужно */
    clear: both;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
}

.followers:last-child {
    border-right: none;
}

/* пятый блок */

.discover {
    background-color: #f0fbfc;
    background-size: 100%;
    margin-bottom: 200px;
}


.discover-title {
    position: relative;
    margin: 0;
    background-color: #f0fbfc;
    /* сократить */
    padding: 120px 0 0 0;
}



.discover-title::after {
    /* добавить пробел в кавычках */
    content: "";
    position: absolute;
    top: 190px;
    border-radius: 17px;
    display: block;
    width: 81px;
    height: 12px;
    background: linear-gradient(169.02deg, #B2EBF2 -58.33%, #D1C4E9 60.57%);
}

.discover-img {
    width: 100%;
    position: relative;
    top: 136px;
}



/* //6-7 блоки// */
.stories {
    margin-top: 100px;
    text-align: center;
}

/* //8 блок// */

.whats-updates {
    /* удалить это и убедиться что картинка это только волна*/
    /* сократить написание до свойства background: url(...) no-repeat; */
    background-image: url(images/whats-update.png);
    background-repeat: no-repeat;
    background-position: bottom -1000px right 0px;
    background-size: 100%;
}

.whats-post {
    /* сократить */
    padding: 0 0 80px 0;
    margin: 0 auto;
    width: 701px;

}

.whats-update {
    display: block;
    text-align: center;
}

.whats-update::after {
    /* добавить пробел */
    content: "";
    margin: 0 auto;
    position: relative;
    top: 10px;
    border-radius: 17px;
    display: block;
    width: 81px;
    height: 12px;
    background: linear-gradient(169.02deg, #B2EBF2 -58.33%, #D1C4E9 60.57%);
}

.rectagle-news {
    display: flex;
    justify-content: space-between;

}

.rectagle {
    background-color: #fff;
    border-radius: 35px;
    flex: 0 0 41%;

}

.rectagle img {
    position: relative;
    top: -50px;
}


.rectagle-title {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.54);
    /* удалить */
    /* margin-bottom: 10px; */
}

.read-rectagle {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #311B92;
    margin-top: 10px;
    margin-bottom: 30px;
}

.rectagle-content {
    margin: -80px 0 0 20px;
}

.news {
    flex: 0 0 50%;
}

.news-items {
    display: flex;
}


.news-post {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    margin: 16px 0;
}

.read-news {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #9C27B0;
}

.news-item {

    background-color: #fff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding-bottom: 10px;

}

.news-item+.news-item {
    margin-top: 40px;
}

.rectagle-title-news {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.54);


}

.news-content {
    margin-left: -55px;
    padding-right: 20px;

}

/* заменить картинку на блок */
.new-item-image {
    width: 165px;
    height: 143px;
    border-radius:20px;
    background-color: green;
    /* добавить стили что бы отцентрировать текст внутри */
}
.news-item img {
    position: relative;
    left: -50px;
    width: 164px;
}


/* 9 блок */

/* добавить padding снизу */
.footer {
    background-color: rgb(246 243 251);
    padding-top: 150px;
    background-image: url(images/decoration.png);
    background-repeat: no-repeat;
    background-position: bottom -18px right -98px;
    background-size: 100%;
}

h3 {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    color: rgba(0, 0, 0, 0.54);
    margin-top: 0;
}

.footer-market {
    display: flex;
    justify-content: center;
}

.footer-bot {
    display: flex;
    justify-content: space-between;
}

.footer-info {
    width: 245px;
    padding-top: 145px;
}

.footer-skyrev {
    margin-top: 38px;
}

.footer-subtitle {
    margin: 27px 0 27px 0;
}

.footer-market img {
    margin: 15px;
}

.footer-text {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    margin-top: 20px;
}

.fotter-bot-title {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 18px;
    color: #673AB7;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
}

.footer-links div {
    width: 30px;
    margin: 9px;
}

.footer-links:last-child {
    width: 200px;
}

.footer-company {
    margin-left: 25px;
}